<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Fraud Detection{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</head>
<body>
    <!--Navbar -->
    <nav class="navbar">
        <a href="#" class="fraud-item">Fraud Guard</a>
        <ul class="nav-links">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('home') }}#predict">Predict Transaction</a></li>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
    
</body>
</html>
